################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SoevnnConsoleTests/obj
/Soevnn/obj
/SoevnnNUnitTest/obj
/.vs/Soevnn/v16/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Soevnn/bin/Debug/net5.0
